@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Purista';
    font-style: normal;
    font-weight: 300;
    src: url(../assets/font/Purista_light.otf);
  }

  @font-face {
    font-family: 'Purista';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/font/Purista_medium.otf);
  }

  @font-face {
    font-family: 'Purista';
    font-style: normal;
    font-weight: 700;
    src: url(../assets/font/Purista_bold.otf);
  }

  @font-face {
    font-family: 'webSymbols';
    font-style: normal;
    src: url(../assets/font/WebSymbols-Regular.otf);
  }
}
